@CHARSET "ISO-8859-1";

body {	font-family: Georgia; margin:0; padding:0; color:#26292b; font-size:12px; width:100%; background:#FFFFFF 
}
form {margin:0;  padding:0;
}
img {border:0px
}
a {	color:#FFFFFF; font-size:12px; text-decoration:none
}
a:hover {text-decoration:underline;
}
#body { width:100%;  position:relative; text-align:left;
} 
#header {position:absolute; width:100%
}
#blue {position:relative; align:center; width:100%; background:#003090; height:117px; top:0px; left:0px
}
#logo {position:absolute; width:250px; top:0px; left:0px; align:left
}
#login {position:relative; width:400px; top:14px; left:140px; align:right
}
.input {font-family:Georgia; font-size:10px; color:#737373; background:#f8f8f8; width:223px; height:19px; padding:2px 0 0 8px; border:1px #dcdcdc inset; 
}
.input_1 {font-family:Georgia; font-size:10px; color:#737373; background:#f8f8f8; width:133px; height:19px; padding:2px 0 0 8px; border:1px #dcdcdc inset;
}
#submit {position:absolute; width:86px; left:398px; top:27px
}
#reg {font-family: Georgia; margin:0; padding:0; color:#26292b; font-size:12px; width:100%; background:url(images/IndexBackground.png) repeat-x left top #f5f6f8
}
#buttons{
	text-align:center;
	position:relative;
	top: 5px;
	height: 100%;
	padding-left: 0px;
	background: url(images/buttons.png) center top no-repeat;
	padding: 0px 0px 0px 50px;
	width: 100%
}
#buttons a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 100;
	display: block;
	float: left;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	padding-top: 16px;
	height: 34px;	
}
.but {
	width: 145px;
}
#buttons .but:hover {
	background: url(images/but_hover.jpg) center top repeat-x;
	}	
.but_t {background: url(images/but_hover.jpg) center top repeat-x;}
